.images_galerry{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* padding: 10px; */
    height: auto;
    width: 100%;
    /* border: 2px solid red; */

}
.img_boxes{
    border-radius: 20px;
    height: 250px;
    width: 250px;
    /* border: 2px solid red; */
    margin: 10px;
}
.img_boxes img{
    border-radius: 20px;
    height: 100%;
    width: 100%;

}
.img_boxes p{
    text-align: center;
    margin-top: -150px;
    color: white;
    font-weight: 600;
    z-index: 10;
    position: relative;
   
}

